.git
.gitignore
.vscode/
.vercel/
__pycache__/
.github/
*.pyc
*.pyo
*.pyd
*.ipynb_checkpoints
.env.production

logs/
session_data/

frontend/
**/node_modules/

model/datasets/
model/kaggle/
model/test_images/
model/test_results/
color_changer/test_images/

docker-compose.yml

*.log
.DS_Store
Thumbs.db
README.md