model/datasets/*
model/trained_models/*

model/test_results/*

color_changer/test_results/*

logs/*
.vscode/*

hair_segmentation_kaggle_*

session_data/*

# Python cache files (all directories)
__pycache__/
*.pyc
**/__pycache__/