# Data directories
model/data/images/*
model/data/images_500/*
model/data/masks/*
model/data/masks_500/*
model/data/processed/*
model/data/processed_500/*

model/models/best_model.pth
model/models/latest_model.pth
model/models/96acc.pth

model/models/trained_models/*

model/demo_hair_color_change/*
model/test_results_2k/*
model/test_results_7k/*

# Python cache files (all directories)
__pycache__/
*.pyc
**/__pycache__/