model/datasets/*
model/trained_models/*

model/test_results/*
model/kaggle.zip

color_changer/test_results/*
color_changer/test_all_results/*

logs/*
.vscode/*

session_data/*

# Python cache files (all directories)
__pycache__/
*.pyc
**/__pycache__/
.vercel
