# PyTorch & TorchVision are installed separately in the Dockerfile

# Core dependencies
numpy==1.26.4
opencv-python==4.11.0.86
matplotlib==3.10.5
scikit-learn==1.7.1
tqdm==4.67.1

# API dependencies
fastapi==0.116.1
uvicorn[standard]==0.35.0
pydantic==2.11.7
python-multipart==0.0.20

# AWS
boto3==1.40.11
